.category-item {
  cursor: pointer;
  &__content {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    &:hover {
      background-color: #f5f5f5;
    }
    &__toggle {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      &__icon {
        font-size: 12px;
        transition: transform 0.2s ease-in-out;
        &--open {
          transform: rotate(90deg);
        }
      }
    }
    &__info {
      display: flex;
      flex-direction: column;
      gap: 5px;
      &__name {
        font-size: 14px;
        font-weight: 500;
      }
      &__description {
        font-size: 12px;
        color: #666;
      }
    }
    &__action {
      align-items: center;
      margin-left: auto;
    }
  }
  &__children {
    margin-left: 20px;
  }
}
