.category {
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title {
      font-size: $font-size-lg;
      font-weight: 600;
    }
  }

  &__content {
    display: flex;
    gap: 30px;
    height: 70vh;


    &__left {
      flex: 1;
      overflow-y: scroll;
      background-color: var(--color-surface);
      border-radius: $radius-md;
    }

    &__right {
      flex: 2;
      background-color: var(--color-surface);
      border-radius: $radius-md;

      &--hide {
        display: none;
      }
    }
  }
}