:root {
  // Màu mặc định (Light Mode)

  /* 1. Background - Màu nền tảng dưới cùng */
  --color-bg-main: #f5f6fa;

  /* 2. Surface - Màu của các thành phần nổi trên nền (Header, Sidebar, Card) */
  --color-surface: #ffffff; /* Màu trắng cho Header, Sidebar */
  --color-surface-variant: #f9f9fb; /* Màu nền cho các item bên trong content */

  /* 3. Text - Màu chữ */
  --color-text-main: #202224;
  --color-text-muted: #666666; /* Chữ mờ hơn cho label, sub-text */
  --color-text-white: #ffffff;
  /* 4. Action/Primary - Màu hành động, điểm nhấn */
  /* Primary */
  --color-primary: #4880ff;
  --color-primary-hover: #3366ff;
  --color-primary-active: #2952cc;
  --color-primary-soft: #ebf2ff;

  /* Secondary */
  --color-secondary: #7952b3;
  --color-secondary-hover: #664299;
  --color-secondary-active: #52357a;

  /* Destructive (Red/Error) */
  --color-destructive: #f1416c;
  --color-destructive-hover: #d6305a;
  --color-destructive-active: #b8264d;
  --color-destructive-soft: #fff1f3;

  /* 5. Border */
  --color-border: #d5d5d5;

  /* 6. Feedback - Trạng thái hệ thống */
  --color-success: #47f764; /* Xanh lá - Hoàn thành, nhập kho xong */
  --color-success-soft: #d9f7f1;


  --color-warning: #ff9f43; /* Cam - Cảnh báo sắp hết hàng */
  --color-warning-soft: #fff3e8;

  --color-info: #00a3ff; /* Xanh biển nhạt - Thông tin hướng dẫn */

  /* 7. Shadow - Độ đổ bóng (Tạo chiều sâu cho Modal) */
  --shadow-sm: 0px 1px 2px rgba(16, 24, 40, 0.05);
  --shadow-md: 0px 4px 12px rgba(16, 24, 40, 0.1);

  /* 8. Modal */
  --color-modal-overplay: rgba(0, 0, 0, 0.7);
}

[data-theme="dark"] {
  // Màu khi ở Dark Mode
  --color-bg-main: #1b2431;
  --color-surface: #273142;
  --color-text-main: #ffffff;
}
/* 9. Radius - Độ bo góc */
$radius-sm: 4px;
$radius-md: 8px;
$radius-lg: 12px;
$radius-full: 9999px;

$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;

$font-size-sm: 0.875rem; // 14px
$font-size-md: 1rem; // 16px
$font-size-lg: 1.25rem; // 20px
$font-size-xl: 2rem; // 32px
