.dropdown {
    border-radius: $radius-lg;
    background-color: var(--color-surface);
    box-shadow: var(--shadow-md);

    &__header {
        padding: $spacing-sm;
    }

    &__content {
        padding: $spacing-sm;
    }

    &__footer {
        padding: $spacing-sm;
    }

    &--sm {
        width: 100px;
    }

    &--md {
        width: 200px;
    }

    &--lg {
        width: 300px;
    }
}