.general-info {
    display: flex;
    flex-direction: column;
    gap: $spacing-md;

    &__item {
        display: flex;
        flex-direction: column;
        gap: $spacing-xs;

        &__label {
            color: var(--color-text-muted);
        }

        &__value {
            padding: $spacing-sm;
            background-color: var(--color-bg-secondary);
            border-radius: $radius-sm;
            color: var(--color-text-main);

            line-height: 1.6;
        }
    }
}