.header {
  font-size: $font-size-md;
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-surface);
    padding: $radius-lg 10%;

    &__left-section {
      display: flex;
      gap: $spacing-lg;
      &__logo {
        img {
          width: 100px;
          height: 100px;
        }
      }

      &__search {
        border-radius: $radius-md;
        border: 1px solid var(--color-border);
        background-color: var(--color-bg-main);
        padding: $spacing-sm;
        width: 250px;
      }
    }

    &__nav {
      a {
        margin: 0 $spacing-lg;
      }
    }

    &__actions {
      display: flex;
      gap: $spacing-lg;
      font-size: $font-size-lg;
    }
  }

  &__subnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background-color: #2e2e2e;
    color: rgba(255, 255, 255, 0.5);
    &__item {
        flex: 1;
        text-align: center;
        border-right: 1px solid rgba(255, 255, 255, 0.5);

        &:not:last-child{
            border-right: none;
        }
    }
  }
}
